# Arquivos temporários e locais
sistema/diagnostico.txt
*.tmp
*.log
*.lock
sistema/gravando_temp/
sistema/go2rtc/ffmpeg.exe
sistema/config.json
sistema/logs/
sistema/backup_gravacoes/
.firewall_configured

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
